**/.vscode/
**/.idea/
**/cmake-build-debug/
exercise1/sort_advanced/sort

exercise1/sort_advanced/sort.o

exercise1/sort_simple/sort

exercise1/sort_simple/sort.o

**/.DS_Store
exercise3/ebbcharmutex/.tmp_versions/

*.cmd

*.o

*.order

*.symvers

*.ko

examples/

exercise4/.vagrant/
